<?xml version="1.0"?>

<model>
    <name>Ground plane</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    
    <author>
        <name>Yover Castro</name>
        <email>ycastroc@uni.pe</email>
    </author>

    <description>
        The terrain of the fingers
    </description>
</model>